<div class="container">
	<div class="edit-innovation-form">
		<h1>Editing Innovation</h1>

		<%= render 'form', innovation: @innovation %>

		<%= link_to 'Show', @innovation %> |
		<%= link_to 'Back', innovations_path %>
	</div>
</div>
