<footer class="footer">
  <div class="footer-column">
    <div class="footer-column-one">
      <h5>ROUNDPUT</h5>
      <p>Find, review and learn more about circular economy innovations in your city.</p>
    </div>
    <div class="footer-column-two">
      <h5>COMPANY</h5>
      <p>
        <a href="/pages/about">About Us</a>
      </p>
      <p>
        <a href="#!">Partners</a>
      </p>
      <p>
        <a href="/pages/contact">Contact Us</a>
      </p>
    </div>
    <div class="footer-column-three">
      <h5>USEFUL LINKS</h5>
      <p>
        <a href="/pages/about">Blog</a>
      </p>
      <p>
        <a href="#!">Terms of Reference</a>
      </p>
      <p>
        <a href="/pages/contact">Privacy Policy</a>
      </p>
    </div>
  </div>

  <div class="footer-row">
    <div class="copyright">
      <p>© 2018 Copyright:
        <%= link_to "Roundput", root_path %>
      </p>
    </div>
    <div class="social-media-links">
      <a href="https://www.facebook.com/roundput" target="_blank">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="https://twitter.com/roundput" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.linkedin.com/company/roundput/" target="_blank">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a href="https://www.instagram.com/roundput/" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
  </div>
</footer>