<header>
  <nav class="navbar">
    <a href="/" class="logo"></a><span class="navbar-brand">roundput</span>
    <ul class="navbar-menu">
      <li><a href="/innovations">INNOVATIONS</a></li>
      <li><a href="#">NEWS</a></li>
      <li><a href="#">MARKETPLACE</a></li>
      <li><a href="#">LOGIN</a></li>
      <li><a href="#"><i class="fas fa-search"></i></a></li>
    </ul>
  </nav>
</header>